/*
* @Author: muzidx
* @Date:   2018-04-08 16:18:59
* @Last Modified by:   muzidx
* @Last Modified time: 2018-04-08 16:24:43
*/

$base-font-size: 16px !default;
$base-line-height: 1.4 !default;
$base-font-family: null !default;

$h1-font-size: 2    * $base-font-size !default;
$h2-font-size: 1.5  * $base-font-size !default;
$h3-font-size: 1.17 * $base-font-size !default;
$h4-font-size: 1    * $base-font-size !default;
$h5-font-size: 0.83 * $base-font-size !default;
$h6-font-size: 0.67 * $base-font-size !default;

$black: #000;
$white: #fff;
